<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/syntax.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  
  <!-- Include jQuery and gist-embed src to splice part of gist -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"></script>

  {% include google_analytics.html %}
  <!-- Use Atom -->
  {% feed_meta %}

</head>
